header.header {
  position: relative;
  background-color: #3E3E3E;
}
header.header .navbar-toggler {
  border: none;
  outline: none;
}
header.header nav.navbar {
  position: relative;
  z-index: 1;
}
header.header nav.navbar .navbar-brand img {
  width: 50%;
}
header.header nav.navbar .navbar-nav {
  padding-left: 15px;
}
header.header nav.navbar .navbar-nav .dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
}
header.header nav.navbar .navbar-nav .dropdown-menu a {
  font-size: 14px;
}
header.header nav.navbar .navbar-nav li {
  margin-right: 25px;
  font-size: 14px;
  border: 1px solid transparent;
}
header.header nav.navbar .navbar-nav li:hover {
  border-bottom: 1px solid #FF9756;
}
header.header nav.navbar .navbar-nav li a {
  font-family: 'Manrope3-Regular';
  color: #fff !important;
}
header.header nav.navbar .navbar-nav li a:hover {
  color: #FF9756 !important;
}
header.header nav.navbar .navbar-nav li.dropdown {
  display: flex;
  align-items: center;
}
header.header nav.navbar .navbar-nav li:last-child {
  margin-right: 0;
}
header.header nav.navbar .navbar-nav li:last-child:hover {
  border-bottom: 1px solid transparent;
}
header.header nav.navbar .navbar-nav li:last-child .dropdown-item:hover,
header.header nav.navbar .navbar-nav li:last-child .dropdown-item:focus {
  background-color: #ccc;
}
header.header nav.navbar .navbar-nav li:last-child a:hover {
  color: #fff !important;
}
.banner {
  height: 337px;
  background: url('../image/product-banner.png');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 48px;
}
.banner h1 {
  margin: 0 30px 0 0;
  font-family: 'Manrope3-semibold';
  font-size: 60px;
  line-height: 82px;
}
.banner h1 img {
  vertical-align: inherit;
  margin-right: 5px;
}
.banner h3 {
  font-family: 'Manrope3-semibold';
  font-weight: 400;
  font-size: 22px;
  line-height: 54px;
}
.banner .link {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.banner .link div {
  width: 210px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}
.banner .link img {
  margin-right: 10px;
}
.banner .link .download,
.banner .link .buy {
  display: flex;
  justify-content: center;
}
.banner .link .download {
  background-color: #FA9656;
  margin-right: 31px;
}
.banner .link .download a {
  color: #fff;
}
.banner .link .buy {
  color: #fff;
  border: 1px solid #fff;
}
.banner .link .buy a {
  color: #fff;
}
.why-what {
  background-color: #FFFCFB;
  min-height: 437px;
  padding: 84px 20px 48px;
}
.why-what h1 {
  font-family: 'Playfair';
  text-align: center;
  margin-bottom: 45px;
}
.why-what .item {
  font-family: 'Manrope3-Regular';
  max-width: 482px;
  position: relative;
  font-size: 14px;
  padding: 0;
  padding-bottom: 34px;
  border: none;
  background-color: transparent;
}
.why-what .item img {
  position: absolute;
  left: -35px;
  top: 5px;
}
.feature {
  background-color: #F6F8FA;
  min-height: 592px;
  padding: 32px 0;
}
.feature .header {
  text-align: center;
}
.feature .header h1 {
  font-family: 'Playfair';
  color: #333;
  font-size: 36px;
  line-height: 56px;
}
.feature .header p {
  margin-top: 6px;
  color: #999;
  font-size: 12px;
  line-height: 17px;
}
.feature .body {
  margin-top: 60px;
}
.feature .body > div {
  margin-bottom: 75px;
}
.feature .body .item {
  display: flex;
}
.feature .body .item .icon {
  margin: 6px 14px 0 0;
}
.feature .body .item .main .title {
  color: #333;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
.feature .body .item .main .content {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  line-height: 22px;
}
.downloads {
  background-color: #fffcfb;
  padding: 30px 0 0 0;
}
.downloads p {
  margin: 0;
}
.downloads h1 {
  font-size: 36px;
  font-family: 'Playfair';
  text-align: center;
  line-height: 56px;
  margin: 0;
}
.downloads .row {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.downloads .row > div {
  display: flex;
  justify-content: center;
  min-width: 200px;
}
.downloads .row > div .item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(151, 151, 151, 0.4);
  border-radius: 10px;
  min-width: 200px;
  max-height: 102px;
  padding: 18px 31px 20px;
  margin-bottom: 20px;
}
.downloads .row > div .item p {
  margin-left: 13px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Manrope3-semibold';
}
.downloads .more-info {
  margin-top: 47px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.downloads .more-info a {
  color: #332B6D;
  text-decoration: underline;
}
.documents {
  background-color: #fffbfd;
  padding-top: 117px;
}
.documents p {
  margin: 0;
}
.documents h1 {
  font-size: 36px;
  font-family: 'Playfair';
  text-align: center;
  line-height: 56px;
}
.documents .row {
  margin-top: 60px;
}
.documents .row > div {
  display: flex;
  min-width: 200px;
}
.documents .row > div .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #D9D9D9;
  min-width: 230px;
  min-height: 146px;
  margin-bottom: 20px;
}
.documents .row > div .item .content {
  display: flex;
  align-items: center;
}
.documents .row > div .item .content img {
  margin-right: 20px;
}
.documents .row > div .item svg {
  font-size: 30px;
}
.plans {
  background-color: #fffbfd;
  padding-top: 76px;
}
.plans h1 {
  font-size: 36px;
  font-family: 'Playfair';
  text-align: center;
  line-height: 56px;
}
.plans p {
  margin: 0;
  margin-top: 49px;
  font-size: 14px;
  line-height: 32px;
}
.plans ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.plans ul li {
  font-size: 14px;
  line-height: 32px;
}
.plans .row > div {
  position: relative;
}
.plans .row > div .item {
  background-color: #fff;
  border: 1px solid #E6E6E6;
  padding: 0 20px;
  margin-bottom: 20px;
}
.plans .row > div .item .time {
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  margin: 0;
  margin-top: 47px;
}
.plans .row > div .item .price {
  font-size: 46px;
  line-height: 56px;
  color: #232A60;
  margin: 0;
  margin-top: 19px;
}
.plans .row > div .item p {
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  text-align: center;
  margin-top: 43px;
}
.plans .row > div .item a {
  display: block;
  max-width: 200px;
  max-height: 42px;
  margin: 22px auto 18px;
  background-color: #FF8827;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 42px;
}
.plans .row > div .item a:hover {
  color: #fff;
  background-color: rgba(255, 136, 39, 0.6);
}
.plans .row > div .popular {
  position: absolute;
  top: 17px;
  left: 16px;
  width: 82px;
  height: 27px;
  background-color: #26cc8b;
  text-align: center;
  line-height: 27px;
  font-size: 10px;
  color: #fff;
  border-radius: 0 50px 50px 0;
}
.plans .accept {
  margin-top: 31px;
  text-align: center;
}
.footer {
  padding-top: 100px;
  background-color: #fffbfd;
}
.footer .msg {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}
.footer .msg .footer-link {
  padding: 40px;
}
.footer .msg .footer-link .cen {
  position: relative;
  top: 50%;
}
.footer .msg .footer-link .cen .logo {
  display: flex;
  align-items: center;
}
.footer .msg .footer-link .cen .logo img {
  width: 50%;
  vertical-align: baseline;
}
.footer .msg .footer-link ul {
  list-style: none;
  margin: 20px 0;
}
.footer .msg .footer-link .links,
.footer .msg .footer-link .share {
  display: flex;
  justify-content: space-between;
}
.footer .msg .footer-link .links {
  display: flex;
  align-items: center;
}
.footer .msg .footer-link .links li {
  margin-right: 70px;
  font-family: 'Manrope3-Regular';
}
.footer .msg .footer-link .links li a {
  color: #666666;
  font-size: 14px;
}
.footer .msg .footer-link .links li a:hover {
  font-weight: 700;
}
.footer .msg .footer-link .links li:nth-child(3) {
  margin-right: 0px;
  font-size: 14px;
  color: #666;
}
.footer .msg .footer-link .links li:nth-child(3) a:hover {
  font-family: 'Manrope3-semibold';
}
.footer .msg .footer-link .share li {
  margin-right: 9px;
}
.footer .copyright {
  height: 57px;
  text-align: center;
  line-height: 57px;
  font-size: 12px;
  color: #999999;
}
@media (min-width: 992px) {
  .documents .row > div .item {
    min-width: 289px;
  }
  .downloads .row > div .item {
    width: 300px;
  }
}
@media (max-width: 576px) {
  .downloads .row > div .item {
    width: 300px;
  }
  .documents .row > div {
    display: flex;
    justify-content: center;
  }
  .documents .row > div .item {
    width: 300px;
  }
}
